<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Форум</title>
</head>
<body>
<div><h1>Добро пожаловать в Форум!</h1></div>
<div>
<a th:href="@{/register}">Первый раз здесь? Зарегистрируйтесь.</a>
</div>

<h1>Список тем</h1>
<table  border="2">
<tbody>
<tr th:each="topic : ${allTopics}">
 		<td> <a th:href="@{{id}(id=${topic.topicname})}" th:text="${topic.topicname}">Название</td>
 		<td th:text="${topic.user}">Пользователь</td>
 		<td th:text="${topic.date}">Дата</td>
 		<td th:text="${topic.time}">Время</td>
 </tr>
</tbody>
</table>

<div>
<a th:href="@{/addTopic}">Создать новую тему</a>
</div>
<div>
<a th:href="@{/addAvatar}">Изменить аватарку</a>
</div>

</body>
</html>